html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;}

body{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
}
canvas{
    max-width: 100%;
    max-height: 100%;
}

.container{ 
    max-width: 95%;
    margin: 60px auto 0px;
    padding: 0; 
}

@media (min-width: 576px) {
    .container{
        margin: 80px auto 0px;
    }
}

@media screen and (max-device-width: 640px) and (orientation: landscape){ 
    .container{
        margin: 50px auto 0px;
    }
}