body{
    overflow: hidden;
    background:  #556B2F;
}

.container{
    background-color: white;
    max-width: 95%;
    height: 100vh;
    margin: 55px auto;
    margin: 50px auto 0px;
    padding: 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
}

.header-dino{
    max-width: 100%;
    height: 100px;
    background: url(imagens/dino-game.png) center no-repeat; 
}

.dino{
    width: 60px;
    height: 60px;
    left: 5px;
    background-image: url(imagens/dino.png);
    position: absolute;
    bottom: 6px;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(imagens/cactus.png);
}

@keyframes slideright{
    0% {
        background-position: 70000%;
    }
    100% {
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 10px;
    background-image: url(imagens/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 95%;
    height: 200px;
}

.game-over{
    top: 50%;
    text-align: center;
    width: 95%;
    z-index: 99;
    position: absolute;
}
.btnNovo{
    border: none;
    outline: 0;
    display: inline-block;
    color:#fff;
    background-color: #6B8E23;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    width: 200px;
    height: 2.4rem;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
}
.btnNovo:hover{
    background-color:#9ACD32;
}

.over{
    color: DimGray;
    font-family: 'snap itc';
    font-size: 40px;
    
}

fieldset{
    width: 120px;
    height: 45px;
    border-radius: 0.5rem;
    align-items: center;
    top: 0;
    padding: 0;
    position: relative;
}

legend{
    color:#4F4F4F;
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color:#808000; /* cor da borda */
}

#score{
    background-color:white;
    width: 120px;
    height: 20px;
    color: #4F4F4F;
    font-size:25px;
    text-align: center;
    border-radius: 0.5rem;
    top: 0; 
}


@media screen and (max-width: 1000px){
    .container{
        width: 100%;
        display: block;
        height: 100vh;
    }

    .game-over{
        width: 100%;
        background-size: cover;
        height: 100vh;
    }

    /*.dino{
        width: 40px;
        height: 40px;
        background-image: url(imagens/dino.png);

    .header-dino{
        height: 60px;
        background-size: cover;
    }
    .dino{
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    .cactus{
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    .background{
        bottom: 150px;
    }*/

    .btnNovo{
        width: 50%;
        height: 2rem;
    }
}