@import url('https://fonts.googleapis.com/css2?family=Roboto');

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body{
    background-color:#2F4F4F;
}

header {
    background-color: #000;
    margin: 0;
    transition: 0.4s;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 5px;
    z-index: 100;
}

header img{
    width: 150px;
    height: 40px;
    margin-left: 30px;
}

header a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    line-height: 15px;
    border-radius: 4px;
}

header a:hover{
    background-color: rgba(173,255,47,0.6);
}

header a.ativo{
    background-color: #ADFF2F;
    color: #000;
}

header #menu{
    float: right;
    margin-top: 5px;
}
.btnMenu {
    display: none;
}

.sec-container{
    background-color:  #556B2F;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 95%;
    height: 100vh;
    justify-items: center;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
    border: 1px solid #000;
}
.conteiner{
    background-color: #556B2F;
    max-width: 95%;
    height: 100vh;
    margin: auto;
    padding: 10px;
    justify-items: center;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
}

.slideshow-conteiner{
    background-color: #ADFF2F;
    max-width: 100%;
    height: 300px;
    position: relative;
    margin: 50px auto 10px;
    border-radius: 5px;
}

.slidebox{
    background-color: #ADFF2F;
    width: 100%;
    height: 100%;
    display: none;
}

.imgslide{
    max-width: 100%;
    height: 100%;
}

.btnAnterior, .btnProximo{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease-in-out;
    user-select: none;
}

.btnAnterior{
    left: 0;
    border-radius: 0 5px 5px 0;
}

.btnProximo{
    right: 0;
    border-radius: 5px 0 0 5px;
}

.btnAnterior:hover, .btnProximo:hover, .txtslide:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.txtslide{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 70px;
}

.indicadores{
    /*background-color: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    bottom: 10px;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
}

.indicador{
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #fff;
    transition: background-color 0.5s ease;
}
.indicador:not(:last-child){
    margin-right: 10px;
}

.ativo, .indicador:hover{
    background-color: #fff;
}
.fade{
    animation-name: fade;
    animation-duration: 0.1s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.1s;
}

@-webkit-keyframes fade{
    0%{
        opacity: 0; transform: translateX(1000px);
    }
    100%{
        opacity: 1; transform: translateX(0px);
    }
}

@keyframes fade{
    0%{
        opacity: 0; transform: translateX(1000px);
    }
    100%{
        opacity: 1; transform: translateX(0px);
    }
}

.row-card{
    margin-top: 0px;
}
.column-card{
    float: left;
    width: 50%;
    height: 300px;
    margin-bottom: 5px;
    padding: 10px 8px;
    align-items: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6); 
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    padding: 10px;
}

.txtCard{
    background-color:  rgba(0, 0, 0, 0.8);
    margin-top: 110px;
    padding: 10px 15px;
    text-align: justify;
    line-height: 1.2;
    color: #fff;
    padding-bottom: 0px;  
}

.txtCard::after, .row-card::after {
    content: "";
    clear: both;
    display: table;
}
.titulo{
    text-align: center;
    font-size: 16px;
    padding: 0px 0px 10px;
}
.txtCard .pbutton{
    margin-top: 15px;
    text-align: center;
}

.botao{
    border: none;
    outline: 0;
    display: inline-block;
    color:#fff;
    background-color: #098305;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
    cursor: pointer;
    width: 70%;
    height: 2.4rem;
    text-decoration: none;
}

.botao:hover{
    background-color: #0DF006;
}

#jogos .txt, #contato .txt, #sobre .txt{
    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.txt h1{
    font-size: 2rem;
}

@media screen and (max-width: 800px){
    .sec-container, .column-card{
        width: 100%;
        display: block;
    }

    #menu{
        width: 100%;
        display: none;
    }

    ._move #menu{
        width: 100%;
        display: block;
    }

    header{
        display: block;
    }

    #menu a{
        width: 100%;
        border-top: 0.1px solid #fff;
        border-radius: 0;
    }
    
    .btnMenu{
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .btnMenu_burger{
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }

    .btnMenu_burger::before,
    .btnMenu_burger::after{
        content: "";
        position: absolute;
        width: 31px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .btnMenu_burger::before{
        transform: translateY(-12px);
    }
    .btnMenu_burger::after{
        transform: translateY(12px);
    }
    .btnMenu.open .btnMenu_burger {
        transform: translateX(-30px);
        background: transparent;
        box-shadow: none;
    }

    .btnMenu.open .btnMenu_burger::before{
        transform: rotate(45deg) translate(21px, -21px);
    }
    .btnMenu.open .btnMenu_burger::after{
        transform: rotate(-45deg) translate(21px, 21px);
    }

    .btnMenu img{
        width: 100%;
        height: 100%;
    }

   header img{
        height: 40px;
    }

    .slideshow-conteiner, .imgslide{
        height: 14rem;
    }

}

@media screen and (max-width: 400px){

    .slideshow-conteiner, .imgslide{
    height: 14rem;
    }

    .botao{
        width: 100%;
    }
}