
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

html{
    box-sizing: border-box;
} 

*, *:before, *:after{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

 body{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

canvas{
    max-width: 100%;
    max-height: 100%;
}

.home{
    background-color: #556B2F;
    max-width: 56rem;
    height: 100vh;
    margin: 38px auto;
    padding: 10px;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
}

.snake-container{
    display: grid;
    background-color:#556B2F;
    border-style: solid;
    border-color: #808000;
    grid-template-rows: 0.3fr 3fr 0.01fr 3fr; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header header score"
    "canvas canvas canvas" 
    "buttons buttons buttons"
    "control-mobile control-mobile control-mobile" ; 
    
}
.header-snake{
    grid-area: header;
    display: flex;
    text-align: center;
    justify-content: left;
}

.header-snake img{
    margin-top: 0.4rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0;
    margin-right: 3px;   
}

.header-snake h1{
    color: rgb(154,205,50);
    font-family: VT323;
    margin-top: 0.4rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.canvas-container{
    grid-area: canvas;
}

#snake{
    border-style: solid;
    border-color: #808000;
}

.score-container{
    grid-area: score;
    right: 1rem;
    width: 70%;
    height: 2.4rem;
    top: 50px;
    margin-left: 20px;
    border-radius: 0.5rem;
    border: 3px solid #9ACD32;
}

legend{
    font-family: VT323;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;  
}

#score{
    font-family: VT323;
    height: 90%;
    color: #fff;
    margin-top: -5px;
    font-size:1.2rem;
    text-align: center;
    align-self: center;
     
}

.buttons-container {
    grid-area: buttons;
    width: 100%;
    display: flex;
    padding: 0px 5px 0px;
   
}
.button{
    background-color:#808000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 50%;
    height: 2.6rem;
    border-radius: 0.2rem;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s;
    border: none;
    outline: 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
    border-radius: 5px;
}

.button:hover{
    background-color: #7FFF00;
}

.control-mobile{
    background: url(../imagens/direction.png) center no-repeat;
    grid-area: control-mobile;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: 
    "_up _up"
    "_left _right"
    "_down _down";
    height: 60%;
}

.left, .right, .up, .down{
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    transition: 0.4s ease-in-out;
    user-select: none;
    background-size: cover;
}

.control-mobile .left{
    grid-area: _left;
    /* background-image: url(../imagens/left.png); */
    left: 20%;
    border-radius: 0 5px 5px 0;
}

.control-mobile .right{
    grid-area: _right;
    /* background-image: url(../imagens/right.png); */
    right: -40%;
    
    border-radius: 5px 0 0 5px;
}
.control-mobile .down{
    grid-area: _down;
    /* background-image: url(../imagens/down.png); */
    bottom: -6%;
    left: 40%;
    border-radius: 5px 0 0 5px;
}
.control-mobile .up{
    grid-area: _up;
    /* background-image: url(../imagens/up.png); */
    left: 40%;
    border-radius: 5px 0 0 5px;
}

@media (min-width: 576px) {
    .home{
        margin: 50px auto;
    }

    .snake-container{
        grid-gap: 0.2rem;
        display: grid;
        background-color:#556B2F;
        border-style: solid;
        border-color: #808000;
        grid-template-rows: 3.5rem 18rem 15rem; 
        grid-template-columns: 18rem 14rem 12rem; 
        grid-template-areas:
         "header header header"
         "canvas canvas score" 
         "canvas canvas buttons" 
    }
   
    .header-snake img{
        margin-top: 0.5rem;
        width: 3rem;
        height: 3rem;
        margin-right: 0.8rem;
    }
    
    .header-snake h1{
        color: rgb(154,205,50);
        margin-top: 0.5rem;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .score-container{
        width: 90%;
        height: 4rem;
        margin-left: 10px;
    }
    
    legend{
        font-size: 1.4rem; 
    }

    #score{
        margin-top: -4px;
        font-size:2rem;
    }

    .buttons-container {
        width: 95%;
        display: inline-block;
        align-self: center;
    }

    .button{
        width: 100%;
        margin-bottom: 30px;
    }

    .control-mobile{
        display: none;
    }
}
